# 공통환경
server:
  http2:
    enabled: true

spring:
  profiles:
    active: local

  jpa:
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    database-platform: org.hibernate.dialect.MySQL8Dialect

# 로컬 환경
---
spring:
  profiles: local
  jpa:
    properties:
      hibernate:
        format_sql: true
logging:
  level:
    org.hibername.SQL: debug


# 실서비스 환경
---
spring.profiles: app1
spring.profiles.include: real-db
server:
  port: 8090