spring:
  datasource:
    url: jdbc:mysql://localhost:3306/nownow?verifyServerCertificate=false&useSSL=false&serverTimezone=Asia/Seoul
    username: user
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    database-platform: org.hibernate.dialect.MySQL8Dialect
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibername.SQL: debug
