<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header(title=${post.getTitle()} + ' | ' + ${post.writer})">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container">

    <div class="divider"></div>

    <div class="row mt-5">
        <div class="col-md-8 mx-auto">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" th:src="@{${post.originalPath}}" alt="First slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 mx-auto">

            <h6 class="mt-5" th:text="${post.writer}">writer</h6>

            <h4 class="title text-dark font-weight-bold mt-2" th:text="${post.title}">title</h4>

            <div class="d-flex flex-row justify-content-between py-3">

                <div>
                    <a class="text-dark font-weight-bold" th:text="|${post.getFormattedPrice()}원|">price</a>

                    <span th:if="${post.getStatus().toString() == 'trading'}"
                          class="ml-1 badge badge-info">거래중</span>

                    <span th:if="${post.getStatus().toString() != 'trading'}"
                          class="ml-1 badge"
                          th:classappend="${post.postType == 'sale' ? 'badge-primary' : 'badge-warning'}"
                          th:text="${post.postType == 'sale' ? '판매' : '대여'}">post type</span>
                </div>

                <div>
                    <a th:text="|${#temporals.format(post.createdDate, 'yy년 MM월 dd일')} 등록|"></a>
                </div>
            </div>

            <p class="description" th:text="${post.getContent()}">content</p>

        </div>
    </div>

    <section>
        <div class="row">
            <div class="col-md-8 mx-auto">

                <div class="dropdown-divider my-5"></div>

                <h6 class="text-dark font-weight-bold" th:text="|${post.getWriter()}님의 최근 게시글|">related post</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="row">
                    <div class="col-sm-4 mb-5 position-relative" th:each="post : ${postsOfUser}">
                        <img class="img-fluid rounded shadow-lg" th:src="@{${post.getImagePath1()}}" alt="">
                        <h6 class="mt-3 text-dark" th:text="${post.getTitle()}">제목</h6>
                        <a class="text-warning font-weight-bold" th:text="|${post.getFormattedPrice()}원|">금액</a>

                        <span th:if="${post.getStatus().toString() == 'trading'}"
                              class="ml-1 badge badge-info">거래중</span>

                        <span th:if="${post.getStatus().toString() != 'trading'}"
                              class="ml-1 badge"
                              th:classappend="${post.postType == 'sale' ? 'badge-primary' : 'badge-warning'}"
                              th:text="${post.postType == 'sale' ? '판매' : '대여'}">post type</span>

                        <div class="d-flex flex-row justify-content-between">
                            <a class="description" th:text="${post.getWriter()}">작성자</a>
                            <a class="description" th:text="|${#temporals.format(post.getCreatedDate(), 'yy년 MM월 dd일')} 등록|"></a>
                        </div>
                        <a class="stretched-link" th:href="@{'/posts/' + ${post.getId()}}"></a>
                    </div>
                </div>
            </div>

        </div>
    </section>

</div>

<footer class="footer mt-5">
    <div class="container">
        <div class="row justify-content-center">All © Copyright by NOWNOW. All Rights Reserved.</div>
    </div>
</footer>

<div th:replace="fragments/scripts :: scripts"></div>

</body>
</html>