<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title th:text="${title}"></title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link href="./vendor/nucleo/css/nucleo.css" rel="stylesheet">
    <link href="./vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="./vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link type="text/css" href="/css/argon.min.css" rel="stylesheet">
    <link type="text/css" href="/css/nownow.web.css" rel="stylesheet">

</head>