body {
    font-family: 'Noto Sans KR', sans-serif; !important;
}

.divider {
    border-bottom: 1px solid #e9ecef;
}

.page-header {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 40vh;
    max-height: 440px;
}

.page-header-img {
    position: absolute;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 100%;
    background-image: url(/images/main-header.jpg);
}
