body {
    font-family: 'Noto Sans KR', sans-serif; !important;
}

.page-header {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 40vh;
    max-height: 440px;
}

.page-header-img {
    position: absolute;
    background-size: cover;
    background-position: 80%;
    width: 100%;
    height: 100%;
    background-image: url(https://demos.creative-tim.com/argon-design-system-pro/assets/img/sections/unsplashs.jpg);
}
